{% extends 'base.html' %}

{% load static %}

{% block content %}


          <table class="table">
            <thead>
              <tr>
                <th scope="col">Пользователь</th>
                <th scope="col">Роль</th>
                <th scope="col">Редактировать</th>
                <th scope="col">Удалить</th>
              </tr>
            </thead>
            <tbody>
              {% for item in profiles %}
              <tr id="el_{{access_level.id}}">
                <td>
                  <a href="/profiles/user_{{item.0.id}}">
                    {{item.0}}({{item.0.user.first_name}} {{item.0.user.last_name}})
                  </a>
                </td>
                <td>
                  {% for role in item.1 %}
                  <a href="/roles">{{role}}</a>
                  {% endfor %}
                </td>
                <td>
                  <a class="btn" href="/profiles/user_{{item.0.id}}"><i class="fa fa-pencil text-primary" aria-hidden="true"></i></a>
                </td>
                <td>
                  <a class="btn" id="delete_user_{{item.0.id}}"><i class="fa fa-times text-danger" aria-hidden="true"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script type="text/javascript">
    {% for item in profiles %}
      $('#delete_user_{{item.0.id}}').click(function() {
        location.href="?delete_role={{item.0.id}}";
      });
    {% endfor %}
  </script>
{% endblock %}
