{% extends 'base.html' %}

{% load static %}

{% block content %}
{% if warning %}
  <div id="empty_alert" class="alert alert-danger my-3" role="alert">
    {{warning}}
  </div>
{% endif %}

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link active" id="nav-role-tab" data-toggle="tab" href="#nav-role" role="tab" aria-controls="nav-role" aria-selected="true">Роли</a>
    <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Уровни доступа по разделам</a>
  </div>
</nav>


<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-role" role="tabpanel" aria-labelledby="nav-role-tab">
    <div class="card mt-3">
      <div class="card-body">
        <table class="table px-3">
          <thead>
            <tr>
              <th scope="col" class="text-start">Роли</th>
              <th scope="col" class="text-end">Удалить</th>
            </tr>
          </thead>
          <tbody>
            {% for role in profile_roles %}
            <tr>
              <td class="text-start">
                <a href="/roles">{{role}}</a>
              </td>
              <td class="text-end">
                <a class="btn p-0" id="del_role_{{role.id}}">
                  <i class="fa fa-times text-danger" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
            <tr id="add_new_role_block" style="display:none">
              <td class="text-start">
                <select id="new_role_id" name="new_role_id" data-placeholder="Роль" class="chosen-select model-select">
                    {% for role in all_roles %}
                    <option value="{{ role.id }}">{{ role.title }}</option>
                    {% endfor %}
                </select>
              </td>
              <td class="text-end">
                <button id="add_new_role_btn_primary" class="btn btn-primary" type="button" name="button">Сохранить</button>
              </td>
            </tr>
          </tbody>
        </table>
        {% if all_roles %}
          <a id="add_new_role_btn" class="btn" class="text-decoration-none"><i class="fa fa-plus" aria-hidden="true"></i> добавить новую роль</a>
        {% else %}
          <div class="alert alert-info" role="alert">
            У пользователя все возможные роли
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Раздел</th>
          <th scope="col">Уровень доступа</th>
          <th class="text-center" scope="col">Редактировать</th>
          <th class="text-center" scope="col">Удалить</th>
        </tr>
      </thead>
      <tbody>
        {% for access_level in access_level_roles %}
        <tr id="el_access_level_{{access_level.id}}">
          <td>
            <a href="">{{access_level.section}}</a>
          </td>
          <td>
            <a href="#" id="">
              {{access_level.access_level}}
            </a>
          </td>
          <td class="text-center"><a class="btn" id="edit_{{access_level.id}}"><i class="fa fa-pencil text-primary" aria-hidden="true"></i></a></td>
          <td class="text-center"><a class="btn" id="del_{{access_level.id}}"><i class="fa fa-times text-danger" aria-hidden="true"></i></a></td>
        </tr>
        <tr id="edit_access_level_{{access_level.id}}" style="display:none;">
          <td>
            <a href="">{{access_level.section}}</a>
          </td>
          <td>
            <select id="new_access_level_id_{{access_level.id}}" name="new_access_level_id_{{access_level.id}}" data-placeholder="Роль" class="chosen-select model-select">
                {% for access_level_ in all_access_levels %}
                <option value="{{ access_level_.0 }}" {% if access_level_.0 == access_level.access_level %}selected{% endif %}>{{ access_level_.1 }}</option>
                {% endfor %}
            </select>
          </td>
          <td class="text-center"></td>
          <td class="text-center"><a class="btn btn-primary" id="save_edit_{{access_level.id}}">Сохранить</a></td>
        </tr>
        {% endfor %}
        <tr id="new_access_level_block" style="display:none">
          <td>
            <select id="new_access_level_section_id" name="new_access_level_section_id" data-placeholder="Роль" class="chosen-select model-select">
                {% for section in sections %}
                <option value="{{ section.id }}">{{ section.title }}</option>
                {% endfor %}
            </select>
          </td>
          <td>
            <select id="new_access_level_access_id" name="new_access_level_access_id" data-placeholder="Уровень доступа" class="chosen-select model-select">
                {% for access_level_ in all_access_levels %}
                <option value="{{ access_level_.0 }}">{{ access_level_.1 }}</option>
                {% endfor %}
            </select>
          </td>
          <td class="text-center"></td>
          <td class="text-center"><a class="btn btn-primary" id="save_new_acces_level_btn">Сохранить</a></td>
        </tr>
      </tbody>
    </table>
    <a id="add_new_acces_level_btn" class="btn" class="text-decoration-none"><i class="fa fa-plus" aria-hidden="true"></i> добавить новый уровень доступа</a>
  </div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript">
  {% for role in profile_roles %}
    $('#del_role_{{role.id}}').click(function() {
      url = "?del_role=True&role_id={{role.id}}"
      location.href=url;
    });
  {% endfor %}

  {% for access_level in access_level_roles %}
    $('#del_{{access_level.id}}').click(function() {
      url = "?del_access_level=True&access_level={{access_level.id}}"
      location.href=url;
    });

    $('#edit_{{access_level.id}}').click(function() {
      $("#el_access_level_{{access_level.id}}").hide()
      $("#edit_access_level_{{access_level.id}}").show()
    });

    $('#save_edit_{{access_level.id}}').click(function() {
      value = document.querySelector('#new_access_level_id_{{access_level.id}}').value;
      url = "?edit_access_level=True&access_level_id={{access_level.id}}&access_level_value=" + value;
      location.href=url;
    });
  {% endfor %}

  $('#add_new_role_btn').click(function() {
    $("#add_new_role_btn").hide()
    $("#add_new_role_block").show()
  });

  $('#add_new_role_btn_primary').click(function() {
    value = document.querySelector('#new_role_id').value;
    url = "?add_new_role=True&role_id=" + value;
    location.href=url;
  });

  $('#add_new_acces_level_btn').click(function() {
    $("#add_new_acces_level_btn").hide()
    $("#new_access_level_block").show()
  });

  $('#save_new_acces_level_btn').click(function() {
    section = document.querySelector('#new_access_level_section_id').value;
    access_level = document.querySelector('#new_access_level_access_id').value;
    url = "?add_new_access_level=True&section_id=" + section + "&access_level_id=" + access_level;
    location.href=url;
  });
</script>


{% endblock %}
